<!doctype html>
<head>
	<title>LoL Boards Redtracker Archive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>

</head>

<body>
	<div id="app" class="container-fullwidth">
		
	</div>
</body>


<!--<script type="text/javascript" src="{{ url_for('static', filename='lol.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.9/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.9/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.1.2/react-router-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script src="https://unpkg.com/react-autocomplete@1.8.1/dist/react-autocomplete.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/jsx" src="{{ url_for('static', filename='index.js') }}"></script>